@media ( max-width: 1200px )
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
@media ( max-width: 992px )
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
      &__info
        flex-direction: row
        width: 100%
    &__slider
      margin-bottom: 30px
  .slider
    width: 100%
  .booking
    width: 340px
  .map
    width: 340px
    height: 210px
@media ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, .user
      display: none
  .menu-buttom
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: $light
    cursor: pointer
    &__line
      width: 100%
      height: 1px
      background-color: $text-color
  .hotel
    padding: 5px 20px 70px 0
    &-info
      &__text
        width: 100%
      &__offer
        margin-left: 0
        order: -1
      &__rating
        display: none
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
  .stars
    padding: 0 16px 0 0
    flex-basis: content
  .slider
    height: 350px
  .hotel
    &-grid
      &__info
        flex-direction: column
        height: 450px
  .booking
    width: 100%
  .map
    width: 100%
@media ( max-width: 576px )
  .logo
    width: 99px
  .slider
    height: 250px
  .hotel__slider
    margin-bottom: 20px
