@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
@media ( max-width: 992px )
  .container,
  .newsletter-wrapper
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
      &__info
        flex-direction: row
        width: 100%
    &-slider
      width: 100%
      margin-bottom: 30px
  .booking
    width: 340px
  .map
    width: 340px
    height: 210px
  .reviews
    &__title
      font-size: 30px
    &-slider
      &__item
        max-width: 580px
        padding: 0 60px 30px 64px
  .activities
    padding: 60px 0 70px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
@media ( max-width: 768px )
  .container,
  .newsletter-wrapper
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, .user
      display: none
  .menu-buttom
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: $light
    cursor: pointer
    &__line
      width: 100%
      height: 1px
      background-color: $text-color
  .hotel
    padding: 5px 20px 70px 0
    &-info
      &__text
        width: 100%
      &__offer
        margin-left: 0
        order: -1
      &__rating
        display: none
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
  .stars
    padding: 0 16px 0 0
    flex-basis: content
  .hotel
    &-grid
      &__info
        flex-direction: column
        height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        &--prev
          top: 32px
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          top: 32px
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .activities
    padding: 40px 0 60px 0
  .card
    width: 49%
@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
        margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
  .card
    width: 100%
